.message-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.message-divider p{
    z-index: 100;
    font-size: 16px;
    background-color: #AFD275;
    padding: 3px 12px;
    border-radius: 3px;
}

.line-through{
    position: relative;
}

.line-through::before{
    content:'';
    width:100%;
    position: absolute;
    height:2px;
    color:black;
    background-color: rgb(153, 143, 143);
    z-index: -1;
    top:-30px;
}
