.message-input {
  margin: 20px 250px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

#message-input {
  border: 2px solid #afd275;
  border-radius: 5px;
  width: 70%;
}

#message-input:focus {
  outline: none;
}
.send-button {
  margin-left: 30px;
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  font-weight: bold;
  background-color: rgb(148, 97, 97);
  color: rgb(243, 232, 232);
  border-radius: 7px;
}

.send-button:hover {
  cursor: pointer;
  background-color: #afd275;
  color: rgb(7, 31, 17);
  outline: none;
}

.send-button:focus {
  outline: none;
}
